@import "tailwindcss";

@theme {
    --color-light-100: #eef4f9;
    --color-gray-100: #7a7777;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }

    .hide-scrollbar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .hide-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .hide-scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0px;
    }

    .hide-scrollbar::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}

@layer components {
    /* Root */
    .root-container {
        @apply flex min-h-screen flex-1 flex-col;
    }

    /*Header*/
    .header {
        @apply fixed top-0 md:top-5 left-0 right-0 flex justify-between items-center px-7 py-2 md:p-8 bg-white md:w-[calc(100%-40px)] md:mx-auto z-50
    }

    .header-button {
        @apply flex justify-center items-center order-1 md:order-2 py-1 px-3 gap-8 md:gap-4 bg-white border-2
    }

    .nav-container {
        @apply absolute md:static top-full left-0 right-0 bg-white shadow-lg md:bg-transparent md:shadow-none
    }

    .nav-list{
        @apply flex flex-col md:flex-row items-center gap-5 p-5 md:p-2
    }

    /*Hero*/
    .hero-container {
        @apply relative w-full flex items-center h-[810px] md:h-[900px] overflow-hidden max-md:px-2
    }

    .hero-banners {
        @apply absolute inset-0 w-full h-full object-cover transition-all duration-1000;
    }

    .hero-banners.active {
        @apply z-10;
        transform: scale(1.10);
    }

    .hero-banners.inactive {
        @apply z-0 brightness-80;
    }

    .hero-content-container {
        @apply absolute flex flex-col justify-center text-white text-center mx-[16px] md:mx-[135px] max-w-lg z-50;
    }

    .hero-header {
            @apply text-[46px] md:text-[64px] leading-[46px] md:leading-[64px] text-start mt-5;
    }

    .hero-navigation {
        @apply absolute flex flex-row justify-center text-white text-center mx-[16px] md:mx-[135px] max-w-lg z-50  items-center bottom-16 md:bottom-17 gap-10 md:gap-8;
    }

    .hero-button {
        @apply relative flex justify-center items-center w-[115px] md:w-[138px] h-[115px] md:h-[138px] border-[0.1px] border-light-100 cursor-pointer;
    }

    .hero-button-slider-container{
        @apply relative w-[77px] md:w-[93px] h-[77px] md:h-[93px] overflow-hidden;
    }

    .hero-button-slider-text{
        @apply absolute top-1/2 left-1/2 z-50 text-white transform -translate-x-1/2 -translate-y-1/2
    }

    /*Products*/
    .products-container{
        @apply flex flex-col sm:py-10 md:py-23;
    }

    .products-text {
        @apply max-w-[321px] md:max-w-[772px] mx-auto text-center space-y-5 md:space-y-16;
    }

    .fade-products-heading {
        @apply text-3xl md:text-[56px] leading-[40px] opacity-0;
    }

    .fade-products-paragraph {
        @apply md:text-2xl leading-[18px] md:leading-[28px] text-gray-100 px-1;
    }

    .drag-cursor {
        cursor: url('/icons/drag.svg'), grab;
    }

    .drag-cursor:active {
        cursor: url('/icons/dragging.svg'), grabbing;
    }

    .product-card {
        @apply absolute w-[233px] xl:w-[435px] h-[331px] xl:h-[619px] shadow-lg flex flex-col items-center justify-end text-white text-2xl mt-10 font-bold transition-all duration-300 ease-in-out bg-cover bg-center;
        transition: all 0.5s ease-in-out;
    }

    .product-card-text {
        @apply w-full p-4 text-center;
    }

    .product-card-title {
        @apply text-2xl md:text-4xl font-semibold mb-5;
    }

    .product-card-description {
        @apply md:text-2xl text-gray-100;
    }

    /* Image Position Classes */
    .card-left {
        @apply -left-48 md:-left-28 top-5 md:top-10 rotate-[-10deg] scale-95 opacity-90 z-20;
    }

    .card-center {
        @apply left-1/2 -translate-x-1/2 scale-100 rotate-0 z-30;
    }

    .card-right {
        @apply -right-48 md:-right-20 top-5 md:top-10 rotate-[10deg] scale-95 opacity-90 z-20;
    }

    .card-far-left {
        @apply -left-full rotate-[10deg] scale-80 opacity-60 z-10;
    }

    .card-far-right {
        @apply -right-full rotate-[-10deg] scale-80 opacity-60 z-10;
    }

    /*Animations*/
    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-up {
        animation: fadeUp 1s ease-out forwards;
    }

    .animation-delay-200 {
        animation-delay: 0.2s;
    }

    @keyframes revealAndZoom {
        0% {
            clip-path: inset(50% 0 50% 0);
            transform: scale(1);
        }
        100% {
            clip-path: inset(0 0 0 0);
            transform: scale(1.10);
        }
    }

    .animate-reveal {
        animation: revealAndZoom 2s ease-in-out;
    }

    @keyframes border-top {
        0% { width: 0; left: 0; }
        25% { width: 100%; left: 0; }
        100% { width: 100%; left: 0; }
    }

    @keyframes border-right {
        0% { height: 0; top: 0; }
        25% { height: 0; top: 0; }
        50% { height: 100%; top: 0; }
        100% { height: 100%; top: 0; }
    }

    @keyframes border-bottom {
        0% { width: 0; right: 0; }
        50% { width: 0; right: 0; }
        75% { width: 100%; right: 0; }
        100% { width: 100%; right: 0; }
    }

    @keyframes border-left {
        0% { height: 0; bottom: 0; }
        75% { height: 0; bottom: 0; }
        100% { height: 100%; bottom: 0; }
    }

    .animated-border {
        position: absolute;
        background-color: white;
    }

    .border-top {
        top: 0;
        left: 0;
        height: 8px;
        animation: border-top 4s linear forwards;
    }

    .border-right {
        right: 0;
        top: 0;
        width: 8px;
        animation: border-right 4s linear forwards;
    }

    .border-bottom {
        bottom: 0;
        right: 0;
        height: 8px;
        animation: border-bottom 4s linear forwards;
    }

    .border-left {
        bottom: 0;
        left: 0;
        width: 8px;
        animation: border-left 4s linear forwards;
    }

    .animate-none .animated-border {
        animation: none !important;
    }
}